.bg_sysu
{
    background-image: url(/MyBlog/images/huaishi.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerTop .left
{
    /* margin-left: 24px; */
    background-color: rgba(133, 133, 133, 0.349);
    backdrop-filter: blur(10px);
    padding: 16px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: all 0.5s;
}
.bannerTop:hover .left
{
    transform: scale(1.05);
}

.bannerTop .left p
{
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'JetBrainsMono','Consolas';
    font-weight: bold;
    
}
.bannerTop .left p:nth-child(3)
{
    font-size: 20px;
    font-style: italic;
}


.testContent
{
    background-color: #fefefe;
    height: 2000px;
    border-radius: 20px;
    padding: 20px;
}